.App {
  text-align: center;
  overflow: hidden;
}

.App-header1 {
  background-image: linear-gradient(#C7E2FE, #345ADE);
  display: flex;
  flex-direction: column;
  align-items: center;
 

}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin-top: 150px;
  overflow: hidden;
}

.h1 {
  font-size: 3vw;
  align-items: center;
  overflow: hidden;
  
}

.input-section-header {
  display: flex;
  justify-content: space-around; 
  margin-bottom: 1000px; 
  overflow: hidden;
}

.quadradinho.redondo1 {
  background-color: #ffffff; 
  width: 160px;
  height: 30px;
  border-radius: 15px; 
  text-align: center; 
  line-height: 28px; 
  margin: 0 20px; 
}

.quadradinho.redondo2 {
  background-color: #f1f4f8; 
  width: 160px;
  height: 30px;
  border-radius: 15px; 
  text-align: center; 
  line-height: 28px; 
  margin: 0 230px;
}

.quadradinho.redondo3 {
  background-color: #eceef1; 
  width: 160px;
  height: 30px;
  border-radius: 15px; 
  text-align: center; 
  line-height: 28px; 
  margin: 0 15px; 
}


.img1 {
  margin-left: 9px; 
  transform: translateY(-950px); 
  height: 150px;
}

.img2{
  margin-left: 9px; 
  height: 150px;
  transform: translateY(-850px); 
}


.img3{
  margin-left: 9px; 
  height: 150px;
  transform: translateY(-745px); 
}

.img4{
  margin-left: 9px; 
  height: 150px;
  transform: translateY(-646px); 
}

.img5{
  margin-left: 9px; 
  height: 150px;
  transform: translateY(-535px); 
}
.aula2{
  margin-left: -528px;
  height: 150px;
  transform: translateY(-1717px);
 
}

.aula3{
  margin-left: -528px;
  height: 150px;
  transform: translateY(-1620px);
 
}

.aula4{
  margin-left: 790px;
  height: 150px;
  transform: translateY(-1000px);
 
}


.aula5{
  margin-left: -528px;
  height: 150px;
  transform: translateY(-1666px);
 
}


.aula6{
  margin-left: -528px;
  height: 150px;
  transform: translateY(-1302px);
 
}


.aulaf{
  margin-left: 788px;
  height: 150px;
  transform: translateY(-2490px);
  
  
 
}


.aulay{
  margin-left: 788px;
  height: 150px;
  transform: translateY(-2386px);
  

}

.aulas{
  margin-left: 788px;
  height: 150px;
  transform: translateY(-2288px);
  

}


.aulak{
  margin-left: 788px;
  height: 150px;
  transform: translateY(-2187px);
  

}


.aulal{
  margin-right: 779px;
  height: 150px;
  transform: translateY(-2336px);
  

}
.logo{
  transform: translateY(-3678px);
  margin-right: 1770px;
}

.play{
  height: 35px;
  transform: translateY(-2260px);
  margin-left: 38px;
}

.play2{
  height: 35px;
  margin-left: 35px;
  transform: translateY(-2560px);

}
.play3{
  height: 35px;
  transform: translateY(-2859px);
  margin-left: 45px;


}
.play4{
 
  height: 35px;
  transform: translateY(-3158px);
  margin-left: 45px;
}
.play5{
  height: 35px;
  transform: translateY(-3455px);
  margin-left: 35px;
}

.playA{
  height: 35px;
  transform: translateY(-3480px);
  margin-left: -410px;

}

.playB{
  height: 35px;
  transform: translateY(-3275px);
  margin-left: -410px;

}
.playC{
  height: 35px;
  transform: translateY(-2805px);
  margin-left: -410px;

}

.playD{
  height: 35px;
  transform: translateY(-3100px);
  margin-left: -790px;

}


.playE{
  height: 35px;
  transform: translateY(-2618px);
  margin-left: 790px;

}

.playR{
  height: 35px;
  transform: translateY(-2645px);
  margin-left: -799px;

}

.playT{
  height: 35px;
  transform: translateY(-2957px);
  margin-left: 800px;
}

.playY{
  height: 35px;
  transform: translateY(-3497px);
  margin-left: 790px;
}


.playH{
  height: 35px;
  transform: translateY(-3290px);
  margin-left: 799px;
}


.playK{
  height: 35px;
  transform: translateY(-3830px);
  margin-left: 799px;
}

.perfil{
  height: 70px;
  margin-left: 1950px;
  transform: translateY(-1308px);
  
}










